@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.remove_scale {
  transform: scale(1.1);
}

.blur_effect {
  border-left: 0.0013rem solid rgba(255, 255, 255, 0.3);
}

.text-bg {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 700px) {
  body {
    font-size: 12px;
  }
  .main-container {
    overflow: auto !important;
    height: 100vh;
    padding: 0;
    width: 100%;
    overflow: scroll;
  }
  .mobile_view {
    height: 100%;
  }
  .class-fill {
    height: 100vh;
    width: 100%;
    overflow: scroll;
    border: none;
    border-radius: none;
  }
  .mobile_fix {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    height: fit-content;
    overflow: auto;
    padding-bottom: 50px;
  }
}
